body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    border: none;
    outline: none;
    background-color: #101116;
    height: auto;
    color: white;
    text-align: right;
    letter-spacing: 1px;
    min-height: 50px;
    max-width: 256px;
    word-wrap: break-word;
    white-space: normal;
}

* {
    font-size: 1.2rem;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    min-width: 256px;
    border: 10px solid #101116;
    background-color: #101116;
    border-radius: 5px;
}

#display {
    text-align: right;
    color: rgb(206, 142, 24);
    height: auto;
    min-height: 30px;
    font-size: 14px;
    max-width: 256px;
    word-wrap: break-word;
    white-space: normal;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

#clear {
    grid-column: 1/4;
    background-color: rgb(160, 34, 34);
}

#equals {
    grid-column: 3/5;
    background-color: rgb(26, 26, 129);
}

button {
    cursor: pointer;
    background-color: #2a2d3d;
    color: rgb(204, 201, 201);
}

.operation {
    background-color: #4b506d;
}